@import '../common/mixin';

a {
    text-decoration: none;
    color: #000;
}

.nav-item {
    display: block;
    width: 60px;
    line-height: 60px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;

    @include expand-range($top:-10px);

    &:hover {
        color: red;
    }
}

.nav-item+.nav-item {
    background: #ccc
}


.accordion {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;

    &-item {
        display: block;
        background: lightpink;
        cursor: pointer;
        
        &:last-of-type{
           background:green;
        }

        &:nth-of-type(2){
            background:rgb(208, 211, 62);
        }
        &:first-of-type{
            background:rgb(125, 172, 125);
        }

        &-content {
            max-height: 0;
            overflow: hidden;
            transition:.3s;
            &:target{
              max-height: 300px;
            }
            h2 {
                background: #ddd;
            }
        }
    }
}

.tab{
   &-nav{
         &-item{
             cursor: pointer;
             &:hover{
                 color: red;
             }
         }
   }
   &-content{
       width: 300px;
       height: 300px;
       background:#ddd;
       &-item:not(:target){
           display:none;
       }
   }
}