@import '../common/mixin';
.root-bg{
     position: relative;
     padding-bottom: 10px;
     .demo1{
        width: 200px;
        height: 200px;
        padding: 10px;
        border:10px solid #ddd;
        background:{
            image:url(../../public/images/wechat.jpg),url(../../public/images/husky.jpg);
            size:100px 100px,cover;
            repeat:no-repeat,no-repeat;
            position:0 0 , 100px 100px;
            clip:content-box;
        }
     }
     .demo2{
        transition:all .5s;
         -webkit-text-fill-color:transparent;
         font:{
             size: 5em;
             color: #000;
             weight:bolder;
         }
         background:{
            image:linear-gradient(#ff0,#f0f);
            size:content;
            repeat:no-repeat;
            clip:text;
        }
        &:hover{
            background-position: 0 100px;
        } 
     }
     .demo3{
         height:200px;
        //  width:200px;
         border:1px solid #000;
         overflow:scroll;
         

         background:{
            image:url(../../public/images/wechat.jpg);
            size:100px 100px;
            repeat:no-repeat;
            position: 50% 50%;
            attachment: local;
        }


     }
}