.banner {
  position: relative;
  display: inline-block;


  .husky {
    &::after {
      content: "xxx"
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .prev {
    left: 0;
    background: rgba(255, 255, 255, 0.5)
  }

  .next {
    right: 0;
    background: rgba(240, 23, 23, 0.5)
  }
}