

@mixin fullscreen{
  :root,body{
    width:100%;
    height:100%;
    @content;
  }
}

@mixin  position-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
@mixin position-absolute-cover{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  @content;
}
// 扩张元素选择 范围 
@mixin expand-range($top: -10px, $right: $top, $bottom: $top, $left: $right, $position: relative){
    position: $position;
    &:after {
        content: '';
        position: absolute;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
      }
}

// 伪元素 背景
@mixin pseude-background($color,$image,$size:cover) {
   position: relative;
   &:after{
   @include position-absolute-cover {
      content: "";
      z-index: -1;
      background:{
        color: $color;
        image: url($image);
        size: $size;
      };
   }
}

}