<section class="root">
  <p>Some text [...]</p>
  <figure class="border imgContainer" >
    <img src="../../public/images/husky.jpg" />
    <figcaption>
      The great Sir Adam Catlace was named after Countess Ada Lovelace, the
      first programmer.
    </figcaption>
  </figure>
  <p>More text [...].</p>
</section>


<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
  <div class="flex-shrink-0">
    <img class="h-12 w-12" src="../../public/images/husky.jpg" alt="ChitChat Logo">
  </div>
  <div>
    <div class="text-xl font-medium text-black">ChitChat</div>
    <p class="text-gray-500">You have a new message!</p>
  </div>
</div>
